:root {
  --brand-background1: #2f303a;
  --brand-background2: #2f303a66;
  --brand-color1: #2196f3;
  --brand-color2: #000000;
  --brand-colorAccent: #ffffff;
  --brand-colorAccent-op: #ffffff1a;
  --menu-color: #212121;
  --button-background: #f5f4fa;
  --paragraph-color: #757575;
  --link-footercolor: #ffffff99;
  --bottom-border-header: #e5e5e5;
  --bottom-border-portfolio: #eee;
  --icon-clients-color: #afb1b8;
  --icon-clients-hover: #2196f3;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--menu-color);
  letter-spacing: 0.03em;
  line-height: 1;
  font-size: 14px;
}
h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.5;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--brand-colorAccent);
  text-align: center;
}
h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 0;
}

p {
  line-height: 1.5;
  color: var(--paragraph-color);
}

ul {
  list-style-type: none;
  margin: 0;
}

ul,
li,
p,
h3,
figure {
  margin: 0;
  padding: 0;
}

header a {
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: inherit;
}

header a:hover,
header a:focus {
  color: var(--brand-color1);
}

.logo {
  color: var(--brand-color2);
  font-size: 26px;
  font-weight: 700;
  margin-right: 94px;
}

.logo-web {
  color: var(--brand-color1);
}

.section {
  padding: 94px 0;
}
.extra-padding {
  padding: 100px 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
}
.flex-box {
  display: flex;
}

/* header section styling */

.header-container {
  display: flex;
  justify-content: space-between;
  padding: 24px 0 25px 0;
}
.header-list {
  gap: 50px;
}

.header-list a {
  color: var(--paragraph-color);
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}
.header-navigation {
  display: flex;
  gap: 46px;
}

.header-border-bottom {
  border-bottom: 1px solid var(--bottom-border-header);
}

/* hero section styling*/

.header-image {
  background-image: linear-gradient(
      to bottom,
      var(--brand-background1),
      var(--brand-background2)
    ),
    url(../images/header_image.jpg);
  max-width: 1600px;
  background-size: cover;
}
.box-service {
  font-weight: 700;
  background-color: var(--brand-color1);
  color: var(--brand-colorAccent);
  border-radius: 4px;
  max-width: 200px;
  cursor: pointer;
  font-size: 16px;
  line-height: 2;
  padding: 10px 41px;
  text-align: center;
  border: none;
}

.header-flex {
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.negative-margin {
  margin-top: -94px;
}

.hero-gap {
  gap: 30px;
  padding: 5px 0;
}

.hero-gap p {
  line-height: 1.7;
  text-align: left;
}

.hero-gap h3 {
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 14px;
}

.box-hero {
  background-color: var(--button-background);
  width: 270px;
  height: 120px;
  padding: 25px 100px;
  margin-bottom: 30px;
}

/* team section styling */

.background-color-about {
  background-color: var(--button-background);
}

.background-color-about h3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  color: var(--menu-color);
  text-transform: none;
  margin-bottom: 10px;
}
.background-color-about p {
  text-align: center;
  font-size: 16px;
  line-height: 1.2;
  color: var(--paragraph-color);
  margin-bottom: 16px;
}

.background-color-about figcaption {
  padding: 30px 32px;
  background-color: var(--brand-colorAccent);
  border-radius: 0 0 4px 4px;
}

.background-color-about figure {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
}

.team-list {
  gap: 30px;
  display: flex;
  padding-bottom: 1px;
}

/* icon styling */

.icon {
  fill: currentColor;
}
.header-list .icon {
  margin-right: 10px;
}

.social-gap {
  gap: 10px;
}

.social-icons-list {
  width: 44px;
  height: 44px;
  padding: 12px;
  color: var(--icon-clients-color);
}

.social-icons-list:hover,
.social-icons-list:focus {
  background-color: var(--brand-color1);
  border-radius: 50%;
  color: var(--brand-colorAccent);
}

.social-icon-footer {
  width: 44px;
  height: 44px;
  padding: 12px;
  background-color: var(--brand-colorAccent-op);
  border-radius: 50%;
}

.social-icon-footer:hover,
.social-icon-footer:focus {
  background-color: var(--brand-color1);
  border-radius: 50%;
  color: var(--brand-colorAccent);
}

/* clients section styling */

.box-clients {
  border: 1px solid currentColor;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  justify-content: center;
  color: var(--icon-clients-color);
}

.box-icon {
  width: 106px;
  height: 60px;
}

.box-clients:hover,
.box-clients:focus,
.box-clients:hover .icon,
.box-clients:focus .icon {
  color: var(--icon-clients-hover);
}

/* footer styling */

.footer-container {
  background-color: var(--brand-background1);
  color: var(--brand-colorAccent);
  padding: 60px 0px;
  margin-right: 70px;
}

.social-footer {
  padding: 72px 0px;
  color: var(--brand-colorAccent);
}

.social-footer p {
  text-transform: uppercase;
  font-weight: 700;
  color: var(--brand-colorAccent);
  margin-bottom: 20px;
}

.background-footer {
  background-color: var(--brand-background1);
}

.adress-footer {
  flex-direction: column;
  gap: 9px;
}
.adress-footer address {
  font-style: inherit;
}

.logo-footer {
  color: var(--brand-colorAccent);
  font-family: "raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 2;
  margin-bottom: 20px;
  text-decoration: none;
}

.link-footer {
  color: var(--link-footercolor);
  font-weight: 500;
  letter-spacing: 0.03em;
  line-height: 1.5;
  text-decoration: none;
}

.link-footer:hover,
.link-footer:focus {
  color: var(--brand-color1);
}

/* portfolio styling */

.box-push {
  background-color: var(--button-background);
  font-weight: 500;
  line-height: 1.5;
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 22px;
  text-align: center;
  border: none;
}

.box-push:hover,
.box-push:focus {
  background-color: var(--brand-color1);
  color: var(--brand-colorAccent);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-menu {
  gap: 8px;
  justify-content: center;
  align-items: flex-start;
  padding: 0 1px 16px;
  margin-bottom: 34px;
}
.flex-grind {
  flex-wrap: wrap;
  justify-content: center;
  flex-basis: calc((100% - 60px) / 3);
}

.flex-grind figure:hover,
.flex-grind figure:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.flex-grind figcaption {
  padding: 20px 24px;
  border: 1px solid var(--bottom-border-portfolio);
  border-top: none;
}

.flex-grind h3 {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.06em;
  line-height: 2;
  text-transform: none;
}

.flex-grind p {
  font-size: 16px;
  line-height: 2;
}
.portfolio-img {
  display: block;
}
